# Topic Modeling

## Introduction

Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

In this notebook, we will be covering the steps on how to do **Latent Dirichlet Allocation (LDA)**, which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## Topic Modeling - Attempt #1 (All Text)

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,aaaaaa,aaaaah,aaah,aah,abandoned,abc,abcs,ability,abject,able,...,ze,zealand,zeppelin,zero,zillion,zombie,zombies,zoning,zoo,éclair
ali,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,0,1,0,0,0,0
anthony,0,0,0,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,0,0
bill,0,1,0,0,0,0,1,0,0,1,...,1,0,0,1,1,1,1,1,0,0
dave,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,1
kenny,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
louis,0,0,0,3,0,0,0,0,0,1,...,0,0,0,2,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,2,1,0,0,0,0,0,0
noah,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ricky,0,0,0,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,1,0
seinfeld,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [3]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

,ali,anthony,bill,dave,jim,joe,john,kenny,louis,mike,noah,ricky,seinfeld
aaaaaa,0,0,0,0,0,0,0,2,0,0,0,0,0
aaaaah,0,0,1,0,0,0,0,0,0,0,0,0,0
aaah,0,0,0,1,0,0,0,0,0,0,0,0,0
aah,0,0,0,0,0,0,0,0,3,0,0,0,0
abandoned,0,0,0,0,0,0,0,0,0,0,1,0,0

In [4]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [6]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 2, see if the results make sense, and increase the number from there.

In [7]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.005*"cause" + 0.005*"day" + 0.004*"really" + 0.004*"little" + 0.004*"didnt" + 0.004*"did" + 0.004*"lot" + 0.004*"says" + 0.003*"tell" + 0.003*"way"'),
 (1,
  '0.007*"shit" + 0.007*"fucking" + 0.006*"theyre" + 0.006*"man" + 0.005*"didnt" + 0.005*"theres" + 0.005*"want" + 0.005*"come" + 0.005*"went" + 0.004*"life"')]

In [8]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.007*"shit" + 0.005*"ok" + 0.005*"lot" + 0.004*"wanna" + 0.004*"gotta" + 0.004*"husband" + 0.004*"cause" + 0.003*"day" + 0.003*"women" + 0.003*"pregnant"'),
 (1,
  '0.008*"shit" + 0.007*"fucking" + 0.006*"theyre" + 0.005*"didnt" + 0.005*"life" + 0.005*"fuck" + 0.005*"good" + 0.005*"theres" + 0.005*"man" + 0.005*"cause"'),
 (2,
  '0.005*"didnt" + 0.004*"want" + 0.004*"really" + 0.004*"little" + 0.004*"hey" + 0.004*"went" + 0.004*"man" + 0.004*"guys" + 0.004*"id" + 0.004*"mean"')]

In [9]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.007*"theyre" + 0.006*"fcking" + 0.005*"fck" + 0.005*"joke" + 0.005*"didnt" + 0.005*"day" + 0.005*"theres" + 0.005*"little" + 0.005*"went" + 0.005*"shit"'),
 (1,
  '0.005*"want" + 0.005*"didnt" + 0.005*"shit" + 0.005*"life" + 0.005*"hey" + 0.005*"guy" + 0.005*"guys" + 0.005*"did" + 0.005*"come" + 0.004*"man"'),
 (2,
  '0.001*"fucking" + 0.001*"shit" + 0.000*"come" + 0.000*"id" + 0.000*"went" + 0.000*"theyre" + 0.000*"fuck" + 0.000*"want" + 0.000*"day" + 0.000*"didnt"'),
 (3,
  '0.009*"fucking" + 0.009*"shit" + 0.007*"fuck" + 0.006*"went" + 0.005*"good" + 0.005*"women" + 0.005*"day" + 0.005*"lot" + 0.005*"cause" + 0.005*"man"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Topic Modeling - Attempt #2 (Nouns Only)

One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [10]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [12]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                 transcript
ali       ladies and gentlemen please welcome to the sta...
anthony   thank you thank you thank you san francisco th...
bill       all right thank you thank you very much thank...
dave      this is dave he tells dirty jokes for a living...
jim          ladies and gentlemen please welcome to the ...
joe          ladies and gentlemen welcome joe rogan  wha...
john      armed with boyish charm and a sharp wit the fo...
kenny     make some noise for kenny sebastian oh my god ...
louis     introfade the music out lets roll hold there l...
mike      wow hey thank you thanks thank you guys hey se...
noah      a netflix original comedy special  live nation...
ricky     hello hello how you doing great thank you wow ...
seinfeld  jerry seinfelds new hourlong comedy special je...

In [13]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jitesh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Jitesh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [14]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                 transcript
ali       ladies gentlemen stage ali hi thank hello na s...
anthony   thank thank people i em i francisco city world...
bill      thank thank pleasure georgia area oasis i june...
dave      jokes living stare work profound train thought...
jim       ladies gentlemen stage mr jim jefferies thank ...
joe       ladies gentlemen joe fck thanks phone fckface ...
john      charm wit snl writer john mulaney marriage bee...
kenny     noise oh god thank mumbai thank lets guys roya...
louis     music lets lights lights thank i i place place...
mike      wow hey thanks look insane years everyone i id...
noah      comedy nation presents people hands trevor noa...
ricky     hello thank fuck thank im gon youre weve money...
seinfeld  jerry comedy jerry hours helicopter pilot sein...

In [15]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

C:\Users\Jitesh\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaaaaa,aah,abc,abcs,ability,abortion,abortions,abuse,ac,accent,...,yulin,yummy,ze,zealand,zeppelin,zillion,zombie,zombies,zoo,éclair
ali,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,2,0,0,0,1,...,0,0,0,10,0,0,0,0,0,0
bill,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,0
dave,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
kenny,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
louis,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
noah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ricky,0,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
seinfeld,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [17]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.008*"thing" + 0.008*"life" + 0.007*"man" + 0.007*"house" + 0.007*"things" + 0.006*"guys" + 0.006*"hes" + 0.005*"fck" + 0.005*"phone" + 0.005*"way"'),
 (1,
  '0.010*"thing" + 0.009*"day" + 0.009*"man" + 0.009*"shit" + 0.008*"hes" + 0.008*"guy" + 0.008*"cause" + 0.007*"life" + 0.007*"way" + 0.006*"lot"')]

In [18]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.011*"thing" + 0.010*"day" + 0.010*"life" + 0.009*"shit" + 0.008*"hes" + 0.007*"guy" + 0.007*"way" + 0.007*"cause" + 0.007*"kids" + 0.006*"gon"'),
 (1,
  '0.013*"shit" + 0.010*"man" + 0.008*"lot" + 0.007*"women" + 0.007*"guys" + 0.007*"house" + 0.006*"guy" + 0.006*"hes" + 0.006*"fck" + 0.006*"thing"'),
 (2,
  '0.011*"thing" + 0.009*"day" + 0.009*"man" + 0.008*"hes" + 0.007*"life" + 0.007*"things" + 0.006*"way" + 0.006*"guy" + 0.006*"cause" + 0.005*"years"')]

In [19]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.010*"thing" + 0.009*"day" + 0.007*"way" + 0.007*"cause" + 0.006*"life" + 0.006*"things" + 0.006*"guy" + 0.006*"house" + 0.006*"hes" + 0.005*"man"'),
 (1,
  '0.017*"man" + 0.016*"snake" + 0.012*"hes" + 0.011*"tacos" + 0.010*"thing" + 0.008*"food" + 0.008*"wall" + 0.007*"trevor" + 0.006*"guy" + 0.006*"life"'),
 (2,
  '0.013*"life" + 0.013*"shit" + 0.012*"thing" + 0.011*"hes" + 0.010*"guy" + 0.009*"gon" + 0.008*"cause" + 0.007*"kids" + 0.007*"dude" + 0.007*"man"'),
 (3,
  '0.014*"shit" + 0.010*"man" + 0.010*"lot" + 0.008*"day" + 0.007*"women" + 0.006*"cause" + 0.006*"fck" + 0.006*"thing" + 0.006*"things" + 0.006*"gon"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [20]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [21]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                 transcript
ali       ladies gentlemen welcome stage ali wong hi wel...
anthony   thank san francisco thank good people surprise...
bill      right thank thank pleasure greater atlanta geo...
dave      dirty jokes living stare most hard work profou...
jim       ladies gentlemen welcome stage mr jim jefferie...
joe       ladies gentlemen joe fck san francisco thanks ...
john      boyish charm sharp wit former snl writer john ...
kenny     noise kenny sebastian oh god thank much mumbai...
louis     music lets lights lights thank much i i i nice...
mike      wow hey thanks hey seattle nice look crazy ins...
noah      netflix original comedy special live nation pr...
ricky     hello great thank fuck thank lovely welcome im...
seinfeld  jerry new hourlong comedy special jerry hours ...

In [22]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

C:\Users\Jitesh\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aaaaaa,aaaaah,aah,abc,abcs,ability,abject,able,ablebodied,abortion,...,yummy,yyou,ze,zealand,zeppelin,zillion,zombie,zombies,zoo,éclair
ali,0,0,0,1,0,0,0,2,0,0,...,0,1,0,0,0,0,1,0,0,0
anthony,0,0,0,0,0,0,0,0,0,2,...,0,0,0,10,0,0,0,0,0,0
bill,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,1,1,1,0,0
dave,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
jim,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
joe,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
john,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,1
kenny,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
louis,0,0,3,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
mike,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
noah,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ricky,0,0,0,0,0,1,1,2,0,0,...,1,0,0,0,0,0,0,0,1,0
seinfeld,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [24]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"kid" + 0.004*"different" + 0.004*"mom" + 0.004*"snake" + 0.003*"fck" + 0.003*"ass" + 0.003*"girl" + 0.003*"fucking" + 0.003*"food" + 0.003*"men"'),
 (1,
  '0.006*"fuck" + 0.005*"joke" + 0.004*"fucking" + 0.004*"mom" + 0.004*"ahah" + 0.004*"bro" + 0.003*"kid" + 0.003*"mad" + 0.003*"hell" + 0.003*"wife"')]

In [25]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.009*"joke" + 0.006*"mom" + 0.005*"bro" + 0.004*"jokes" + 0.003*"anthony" + 0.003*"kid" + 0.003*"husband" + 0.003*"funny" + 0.003*"dead" + 0.003*"twitter"'),
 (1,
  '0.006*"snake" + 0.006*"fck" + 0.005*"mom" + 0.005*"food" + 0.005*"kid" + 0.004*"president" + 0.004*"different" + 0.004*"tacos" + 0.003*"clinton" + 0.003*"wife"'),
 (2,
  '0.009*"fuck" + 0.008*"fucking" + 0.004*"ahah" + 0.004*"son" + 0.004*"gun" + 0.003*"men" + 0.003*"kid" + 0.003*"jenny" + 0.003*"guns" + 0.003*"class"')]

In [26]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.009*"fuck" + 0.008*"fucking" + 0.006*"kid" + 0.005*"gun" + 0.004*"jesus" + 0.004*"hell" + 0.004*"sense" + 0.004*"religion" + 0.004*"sudden" + 0.004*"trouble"'),
 (1,
  '0.010*"mom" + 0.006*"snake" + 0.005*"joke" + 0.005*"tacos" + 0.004*"bro" + 0.004*"food" + 0.004*"kid" + 0.004*"clinton" + 0.004*"president" + 0.003*"hell"'),
 (2,
  '0.006*"ahah" + 0.006*"fuck" + 0.005*"joke" + 0.005*"fucking" + 0.004*"husband" + 0.003*"different" + 0.003*"gay" + 0.003*"men" + 0.003*"ok" + 0.003*"nuts"'),
 (3,
  '0.007*"fck" + 0.005*"girl" + 0.004*"different" + 0.004*"men" + 0.004*"kid" + 0.004*"ass" + 0.004*"fuck" + 0.004*"jenny" + 0.004*"fucking" + 0.004*"guns"')]

## Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjectives, 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics.

In [27]:
# LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.008*"husband" + 0.007*"ok" + 0.005*"pregnant" + 0.004*"asian" + 0.004*"fingers" + 0.004*"doo" + 0.003*"wan" + 0.003*"mom" + 0.003*"toilet" + 0.003*"body"'),
 (1,
  '0.005*"joke" + 0.004*"jenny" + 0.004*"anthony" + 0.004*"marriage" + 0.003*"dog" + 0.003*"parents" + 0.003*"tit" + 0.003*"kid" + 0.003*"morning" + 0.003*"single"'),
 (2,
  '0.007*"fuck" + 0.007*"fck" + 0.005*"fucking" + 0.005*"bro" + 0.005*"ahah" + 0.005*"mom" + 0.004*"kid" + 0.004*"men" + 0.004*"fcking" + 0.003*"gay"'),
 (3,
  '0.006*"snake" + 0.005*"fucking" + 0.005*"mom" + 0.005*"tacos" + 0.005*"kid" + 0.004*"joke" + 0.004*"food" + 0.004*"clinton" + 0.004*"different" + 0.004*"president"')]

### Lets go with these four topics for now
* Topic 0: mom, prenant
* Topic 1: husband, wife
* Topic 2: profanity
* Topic 3: president or food

In [28]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(0, 'ali'),
 (1, 'anthony'),
 (2, 'bill'),
 (2, 'dave'),
 (3, 'jim'),
 (2, 'joe'),
 (3, 'john'),
 (2, 'kenny'),
 (1, 'louis'),
 (1, 'mike'),
 (3, 'noah'),
 (3, 'ricky'),
 (1, 'seinfeld')]

For a first pass of LDA, tese topics can be inferred
* Topic 0: mom, parents [Ali, Seinfeld]
* Topic 1: husband, wife [Antony, Luis, Mike]
* Topic 2: guns [Dave,Kenny, Joe, Bill]
* Topic 3: profanity [Ricky, Noah, John, Jim]

In [30]:
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'VB'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj


cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna


corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.019*"fucking" + 0.009*"wan" + 0.008*"heard" + 0.007*"sleep" + 0.007*"understand" + 0.006*"turn" + 0.005*"married" + 0.005*"bring" + 0.005*"eat" + 0.005*"hit"'),
 (1,
  '0.007*"hey" + 0.006*"work" + 0.006*"hit" + 0.005*"play" + 0.005*"uh" + 0.005*"dancing" + 0.004*"starts" + 0.004*"met" + 0.004*"bro" + 0.004*"end"'),
 (2,
  '0.030*"fucking" + 0.009*"hed" + 0.007*"looked" + 0.007*"fuck" + 0.007*"bring" + 0.006*"hate" + 0.006*"called" + 0.005*"shed" + 0.005*"born" + 0.005*"turned"'),
 (3,
  '0.013*"fcking" + 0.010*"walked" + 0.009*"fucking" + 0.006*"looked" + 0.006*"wan" + 0.006*"fuck" + 0.006*"met" + 0.005*"kill" + 0.005*"understand" + 0.004*"hate"')]

There is no particular pattern but vaguely these can be inferred<br>
Topics Inferred: <br>
* greetins
* sports/fine_arts
* feelins
* profanity

In [31]:
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(0, 'ali'),
 (3, 'anthony'),
 (0, 'bill'),
 (3, 'dave'),
 (2, 'jim'),
 (3, 'joe'),
 (3, 'john'),
 (1, 'kenny'),
 (3, 'louis'),
 (1, 'mike'),
 (2, 'noah'),
 (2, 'ricky'),
 (0, 'seinfeld')]